/*****************************************
***  GENERAL CSS    
*****************************************/
* {
    margin: 0;
    padding: 0;
}

body {
    widows: 100%;
    height: 100vh;
    background: url(../images/background1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}

.loginbox {
    width: 320px;
    height: 420px;
    background: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.loginbox .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.loginbox h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #fff;
}

.loginbox p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
.loginbox input[type="password"] {
    border: none;
    outline: none;
    border-bottom: 2px solid silver;
    background: transparent;
    height: 40px;
    color: #fff;
    font-size: 14px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fa2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    color: darkgrey;
}

.loginbox a:hover {
    color: #ffc107;
}
